<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>blast</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='page-player.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flashblock.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-modal.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sticky.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blast.css') }}">
    <script src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui-1.8.22.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sm2.js') }}"></script>
    <script src="{{ url_for('static', filename='page-player.js') }}"></script>
    <script src="{{ url_for('static', filename='blast.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-modal.js') }}"></script>
    <script src="{{ url_for('static', filename='sticky.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.shuffle.js') }}"></script>
    <script type="text/javascript">
    // Initialize soundManager2
    $(document).ready(function() {
        $('div#helpmodal').hide()
        
        soundManager.setup({
            flashVersion: 9,
            useHTML5Audio: true,
            preferFlash: true,
            useHighPerformance: true,
            wmode: 'transparent',
            url: '{{ url_for('static', filename='swf') }}'
        });
        
        initPagePlayer();
    });
    </script>
</head>

<body>
    <div id="control" height="40" width="100%"></div>
    <div class="modal hide" id="helpmodal">
        <div class="modal-header">
            <h3><a href="http://github.com/kwlzn/blast">blast</a> key commands</h3>
        </div>
        <div class="modal-body">
            <p><pre class="help">
                v         Play
                c         Toggle Pause
                x         Stop
                j k       Next / Previous Track (Google Reader style)
                n         Next Track (same as j, Google Reader style)
                b z       Next / Previous Track (Winamp Style)
            
                , .       Reverse or Skip Ahead 1 second
                { }       Reverse or Skip Ahead 5 seconds
                [ ]       Reverse or Skip Ahead 30 seconds
                0         Reset to 0 position

                s         Toggle Shuffle
                m         Toggle Mute
                ?         Toggle Help
    
                r         Randomize List
                d         Debug Mode
                
                </pre>
            </p>
        </div>
    </div>
    <ul class="playlist sortable">
    {% for entry in entries %}
        <li class="ui-state-default"><a href="/play/{{ entry.file_name|safe }}">{{ entry.name }}</a></li>
    {% else %}
        <li><em>No playable files found.</em></li>
    {% endfor %}
    </ul>
</body>