<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>blast</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='page-player.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flashblock.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sticky.css') }}">
    <link rel>
    <script src="{{ url_for('static', filename='sm2.js') }}"></script>
    <script src="{{ url_for('static', filename='page-player.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.shuffle.js') }}"></script>
    <script src="{{ url_for('static', filename='sticky.js') }}"></script>
    <script type="text/javascript">
    soundManager.setup({
        flashVersion: 9,
        useHTML5Audio: true,
        preferFlash: false,
        useHighPerformance: true,
        wmode: 'transparent',
        url: '{{ url_for('static', filename='swf') }}'
    });

    jQuery(function($){
    	$('body').keypress(function(e){
    	    var code = (e.keyCode ? e.keyCode : e.which);
    	    $('div#notifications').html(code);
    	    // ref: http://www.cambiaresearch.com/articles/15/javascript-char-codes-key-codes
    	    if (code == 114) {                              // r 
    	        $.sticky('<b>Randomizing!</b>');
    	        $('ul').shuffle();
    	    } else if (code == 99) {                        // c
    	        soundManager.togglePause(pagePlayer.lastSound.id);
    	    } else if (code == 109) {                       // m
    	        soundManager.toggleMute(pagePlayer.lastSound.id);
    	    } else if (code == 110 || code == 106) {        // n, j
                pagePlayer.playNext();
    	    } else if (code == 107) {                       // m
                pagePlayer.playPrevious();
            } else if (code == 120) {                       // x
                soundManager.stopAll();
            } else if (code == 118) {                       // v
                soundManager.play(pagePlayer.lastSound.id);
    	    } else if (code == 44 ||
    	               code == 91 || code == 123) {         // [, {
    	        var pos = pagePlayer.lastSound.position;
    	        //$.sticky(pos);
    	        if (code == 44)         { pos -= 1000;         // jump behind 1  seconds for ,
    	        } else if (code == 123) { pos -= 5000;      // jump behind 5  seconds for {
    	        } else                  { pos -= 30000; }   // jump behind 30 seconds for [
    	        if (pos < 0) { pos = 0; }
    	        //$.sticky(pos);
    	        soundManager.setPosition(pagePlayer.lastSound.id, pos);
    	    } else if (code == 46 ||
    	               code == 93 || code == 125) {         // , ] }
    	        var pos = pagePlayer.lastSound.position;
    	        //$.sticky(pos);
    	        if (code == 46)         { pos += 1000;         // jump ahead 1  seconds for .
    	        } else if (code == 125) { pos += 5000;      // jump ahead 5  seconds for }
    	        } else                  { pos += 30000; }   // jump ahead 30 seconds for ]
    	        //$.sticky(pos);
                if (pagePlayer.lastSound.loaded == false) {
    	            if (pos > pagePlayer.lastSound.durationEstimate) { pos = pagePlayer.lastSound.durationEstimate; }
    	        } else {
    	            if (pos > pagePlayer.lastSound.duration)         { pos = pagePlayer.lastSound.duration; }
    	        }
    	        soundManager.setPosition(pagePlayer.lastSound.id, pos);
     	    } else if (code == 115) {   // s
                $.sticky('s'); //TODO implement shuffle here
    	    }
    	});
    });
    </script>
</head>
<body>
    <div id="notifications"></div>
    <ul class="playlist">
    {% for entry in entries %}
        <li><a href="/play/{{ entry.file_name|safe }}">{{ entry.name }}</a></li>
    {% else %}
        <li><em>No playable files found.</em></li>
    {% endfor %}
    </ul>
</body>