<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>blast</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='page-player.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flashblock.css') }}">
    <link rel>
    <script src="{{ url_for('static', filename='sm2.js') }}"></script>
    <script src="{{ url_for('static', filename='page-player.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.shuffle.js') }}"></script>
    <script type="text/javascript">
    soundManager.setup({
        flashVersion: 9,
        useHTML5Audio: true,
        preferFlash: false,
        useHighPerformance: true,
        wmode: 'transparent',
        url: '{{ url_for('static', filename='swf') }}'
    });
    </script>
    <script type="text/javascript">
    jQuery(function($){
    	$('body').keypress(function(e){
    	    var code = (e.keyCode ? e.keyCode : e.which);
    	    //$('div#notifications').html(code);
    	    // 83  == s, 115 == S
    	    // ref: http://www.cambiaresearch.com/articles/15/javascript-char-codes-key-codes
    	    if (code == 83) {
    	        $('ul').shuffle();
    	    } else if (code == 115) {
    	        $('ul').shuffle(); 
    	    } 
    	});
    });
    </script>
</head>
<body>
    <div id="notifications"></div>
    <ul class="playlist">
    {% for entry in entries %}
        <li><a href="/play/{{ entry.file_name|safe }}">{{ entry.name }}</a></li>
    {% else %}
        <li><em>No playable files found.</em></li>
    {% endfor %}
    </ul>
</body>